# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
#lib/generated/*
!lib/generated/empty.init

# ios
xcuserstate
*.xcsettings

# android
gen
obj
armeabi
# assets
proguard
local.properties
*.apk
.settings

# win32
Debug.win32
Release.win32
Debug.obj
Release.obj
DVD-5
SingleImage
*.pdb
*.aps

*.user
*.sdf
*.opensdf
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log

# python
*.pyc

# runtime
runtime

# log
debug.log

job.json

.DS_Store

# for idea
.idea

build/*
pubspec.lock
.dart_tool/*
.packages
*.lock
.flutter*
.metadata

.dart_tool

ios/Flutter/.last_build_id
ios/build

generated_plugin_registrant.dart
macos/Flutter/GeneratedPluginRegistrant.swift

android/build/*

*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

/.fvm/

# FVM Version Cache
.fvm/

ios/Pods/

/windows/flutter/

assets/sherpa-onnx-streaming-zipformer-bilingual-zh-en-2023-02-20/
assets/asr_models/sherpa-onnx-sense-voice-zh-en-ja-ko-yue-int8-2024-07-17/model.int8.onnx
